__pycache__
venv-backend
.env
keys
test_output/
.idea/
logs/
feedback-reports/
exports/
i.txt
databases.txt
milestones_progress.txt
output_tcontextualization.txt
key.json
run.txt
feedback.pdf
taxonomy.models.txt
taxonomy.output.txt
scrapers.schemas.txt
run.scrapers.txt
run.taxonomy.txt
scraper_output.log
taxonomy_output.log
tests.taxonomy.txt
tests.scrapers.txt
tests.run.txt
dev